body {
	padding: 0;
	margin: 0;
	background: red;
}

.container {
	display: grid;
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.rect{
	position: absolute;
	width: 100%;
	height: 100%;
	background:url(bakudan-white.svg) no-repeat center ,rgb(131, 209, 250);
	background-blend-mode:color;
}