<%# item1は親から渡ってくる %>
<p><%= item1 %></p>

<%# item2は親から渡ってこないのでエラーとなる %>
<p><%# item2 %></p>

<%# item2が親から渡ってくるか不明な場合は下記のように対処 %> 
<% if(typeof item2 === "undefined"){
var item2 = "項目2のデフォルト値"} %>
<p><%= item2 %></p>
