<%# data1は親から渡ってくる %>
<p><%= data1 %></p>

<%# data2は親から渡ってこないので普通に出力しようとするとエラーとなる %>
<p><%# data2 %></p>

<%# data2が親から渡ってくるか不明な場合は下記のように対処 %> 
<% if(typeof data2 === "undefined"){ let data2 = null} %> 
<p><%= data2 %></p>

