body {
	padding: 0;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.container--2 {
	grid-template-columns: 2fr 1fr 1fr;
}

.item {
	border: 1px solid #000;
	text-align: center;
}
