body {
	padding: 0;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.container--2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
}

.container--3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 20px;
}

.item {
	border: 1px solid #000;
	text-align: center;
}
