<!DOCTYPE html>
<html lang="ja">
  <%- include('components/_head') %> <%- include('components/_header') %>
  <body>
    <%- include('components/_content', {data1: 'data', data2: 'data2'}) %>
  </body>
  <%- include('components/_footer') %>
</html>
