.box {
  display: block;
  height: 50vh;
  margin-bottom: 16px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s, transform 1s;
  width: 100%;
}

.box.appear {
  opacity: 1;
  transform: translateY(0);
}

.box--gray {
  background: gray;
}
